{
    "token": "xxxxxxxxx",
    "appId": "xxx",
    "host": "https://console.xxxxxxxxx.co",
    "userPoolId": "xxxxxxxxx",
    "accessKeyId": "xxxxxxxxx",
    "accessKeySecret": "xxxxxxxxx",
    "secret": "xxxxxxxxx",
    "modelId": ""
}